{{outlet}}

<div>
    <label>Title</label>
    <input type="text" value={{model.title}} oninput={{action (mut model.title) value="target.value"}} />
</div>

<div>
    <a style="margin-top: 2rem;" href="#" {{action 'saveGame'}}>Save Changes</a>
</div>

{{#if this.isSaving}}
    <p>Saving...</p>
{{/if}}