html, body {
    height:100%;
    overflow:auto;
}

body {
    font-family: "Georgia";
    padding: 0;
    margin: 0;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98.85vh;
    position: relative;

    .audio-message {
        display: flex;
        align-items: center;
        padding: 2rem;
        font-size: 2rem;
        background-color: #666;
        color: white;
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        left: 0;

        a {
            color: white;
        }

        &._hide {
            display: none;
        }
    }
}

.game-board-component, .score-board-component {
    flex: 0 0 100%;
    display: grid;
    border: .25rem solid black;
    background-color: #060CE9;
    position: relative;
}

.score-board-component {
    ._column {
        border: .25rem solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        ._team-name {
            font-size: 3rem;
        }
    
        ._money {
            font-size: 2rem;
        }
    }
}

.game-board-component {
    .grid-square {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #060CE9;
        border: .25rem solid black;
        
        &._header {
            color: white;
            border-bottom-width: .5rem;
            font-size: 2rem;
            text-align: center;
        }

        &._body {
            color: #FFDF00;
            font-size: 3rem;
        }
    }

    .question {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: #060CE9;
        transition: width 1s, height 1s;
        overflow: hidden;

        &._is-active {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        ._image {
            max-height: 100%;
            max-width: 100%;
        }

        .answer-text {
            color: white;
            font-size: 4rem;
            padding-right: 2rem;
            padding-left: 2rem;
            text-shadow: 5px 5px 5px black;
        }
    }
}

.container-view {    
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;

    .header-view {
        flex: 0 0 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: cadetblue;

        ._title {
            flex: 1 1 auto;
            font-size: 1.5rem;
            text-align: center;
        }

        ._view-toggle {
            flex: 0 0 auto;
            margin-right: .5rem;
        }

        > .button {
            flex: 0 0 auto;
            margin-left: .5rem;
        }
    }


    .main-view {
        flex: 1 0 auto;
        display: flex;
        background-color: #FFF;

        .board-view {
            flex: 0 0 calc(100% - 350px);
        }
            
        .details-view {
            position: fixed;
            -webkit-transform: translateZ(0);
            bottom: 0;
            right: 0;
            width: 350px;
            top: 47px;
            z-index: 9999;
            overflow-y: auto;

            ._centered-title {
                text-align: center;
                font-size: 1.5rem;
            }

            ._inner {
                padding: .5rem;
            }

            ._actions {
                padding-left: 1rem;
                padding-right: 1rem;

                > .button {
                    margin-top: .5rem;
                    width: 100%;
                }
        
                .team-actions {
                    border: 1px solid #CCC;
                    margin-top: .5rem;
    
                    ._name {
                        padding-left: .5rem;
                        background-color: #CCC;
                    }

                    .button-group {
                        padding: .5rem;
                        justify-content: space-between;
                    }
                }
            }

            ._solution {
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-top: 1px solid #CCC;
                border-bottom: 1px solid #CCC;
                
                ._text {
                    font-size: 1.5rem;
                    color: #CCC;
                }
            }

        }
    }
}

.button {
    padding: 1rem;
    border: 1px solid #666;
    cursor: pointer;

    &._small {
        padding: .5rem;
    }

    &._full {
        width: 100%;
    }

    &._warning {
        color: white;
        background-color: red;
    }

    &._primary {
        color: white;
        background-color: mediumseagreen;
    }

    &._secondary {
        color: white;
        background-color: gray;
    }

    &._highlighted {
        border-color: yellow;
    }
}

.button-group {
    display: flex;

    button.button {
        margin-right: .5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.overlay-view {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    opacity: .7;
    display: flex;
    align-items: center;
}

.sound-view {
    .button-group {
        padding: .5rem;
    }
}

.game-creator {
    padding-left: 1rem;

    label {
        display: block;
        margin-top: 2rem;
    }

    .button {
        margin-top: 2rem;
    }
}

.board-builder-component {

    .table {
        margin: 1rem;
        position: relative;

        .table-row {
            display: flex;
            align-items: center;
            border: 1px dashed #666;
            border-top: none;
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;

            &:first-of-type {
                border-color: transparent;
            }

            &:nth-of-type(2) {
                border-top: 1px dashed #666;
            }

            .table-cell {
                flex: 1 0 0;
                padding: 1rem;
                text-align: center;

                &._indent {
                    flex: 0 0 8rem;
                }

                &._bordered {
                    border: 1px solid black;
                }

                &._dashed {
                    outline: 1px dashed #666;
                    padding: 1rem;

                    &._header {
                        border-top-right-radius: .25rem;
                        border-top-left-radius: .25rem;
                        border-bottom: none;
                        
                        &:not(:last-of-type) {
                            border-right: none;
                        }
                    }

                    &._row-header {


                        &:not(:last-of-type) {
                            border-bottom: none;
                        }
                    }

                    &._content {
                        border-top: none;
                        border-bottom: none;
                        
                        &:not(:last-of-type) {
                            border-right: none;
                        }
                    }
                    
                }
            }
        }
    }
}
